 .article-title {
  color:#4f83ad;
  font-size: 30px;
 }

.article-title:hover {
  color:#22537C;
}

.article-text {
  color:#616161
}

.bar-link {
  margin-bottom: 0;
  font-size: 18px;
  text-decoration: none;
  color: gray;
}s

.bar-link:hover {
  color: #616161;
  transition: 0.3s;
}

#content-label {
  font-weight: bold;
}

#content-text-field {
   border: none;
   width: -webkit-fill-available;
  }
